<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Edição de Alunos">
    <meta name="author" content="Alexsander">

    <title><%= title %> </title>

    <!-- Principal CSS do Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <style>
        .cabecalho-tabela-alunos {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5rem;
        }
    </style>
  </head>